.slds-tabs_card {
    background-color: #ffffff;
    border: #9f9c9c;
    border-radius: 8px;
    padding: 0px;
    box-shadow: 0px 3px 5px grey;
}

.slds-box {
    padding: 15px;

}

p {
    color: #9f9c9c;
    font-weight: bold;

}

.date {
    font-weight: bold;
}

.viewbutton {
    background-color: #eae9e9;
    color: #9f9c9c;
}